<div class="template" contenteditable="true">

<div class="doc-title">

AOC-4

FINANCIAL STATEMENTS

COMPLIANCE RECORD

</div>



<div class="doc-meta">

<div>

<b>Document No :</b>

ROC-AOC4-2026-001

</div>



<div>

<b>Version :</b>

1.0

</div>



<div>

<b>Status :</b>

Pending

</div>



<div>

<b>Retention :</b>

Permanent

</div>

</div>





<h2>

COMPANY DETAILS

</h2>



<table>

<tr>

<td>

Company Name

</td>

<td>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</td>

</tr>



<tr>

<td>

CIN

</td>

<td>

U62099AP2026PTC126392

</td>

</tr>



<tr>

<td>

Financial Year

</td>

<td>

2026-27

</td>

</tr>



<tr>

<td>

Registered Office

</td>

<td>

House of Gidigi Ankaiah,

Utukur Gram Panchayat,

Utukur,

Sydapuram,

Nellore,

Andhra Pradesh - 524407

</td>

</tr>

</table>







<h2>

FINANCIAL STATEMENTS

</h2>



<table>

<tr>

<td>

Balance Sheet

</td>

<td>

Attached

</td>

</tr>



<tr>

<td>

Profit & Loss Account

</td>

<td>

Attached

</td>

</tr>



<tr>

<td>

Cash Flow Statement

</td>

<td>

Attached / Not Applicable

</td>

</tr>



<tr>

<td>

Notes to Accounts

</td>

<td>

Attached

</td>

</tr>



<tr>

<td>

Board Report

</td>

<td>

Attached

</td>

</tr>



<tr>

<td>

Auditor Report

</td>

<td>

Attached

</td>

</tr>

</table>








<h2>

FILING DETAILS

</h2>



<table>

<tr>

<td>

Board Approval Date

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

AGM Date

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

Due Date of Filing

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

Actual Filing Date

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

SRN Number

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

MCA Status

</td>

<td>

Pending / Filed / Approved

</td>

</tr>

</table>








<h2>

AUDITOR DETAILS

</h2>



<table>

<tr>

<td>

Firm Name

</td>

<td>

M/s Uday & Kanith

</td>

</tr>



<tr>

<td>

FRN

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

Partner

</td>

<td>

CA Gangisetty Uday Teja

</td>

</tr>



<tr>

<td>

Membership Number

</td>

<td>

267410

</td>

</tr>

</table>








<h2>

ATTACHMENTS

</h2>



<ul>

<li>

AOC-4 Filed PDF

</li>



<li>

MCA Acknowledgement

</li>



<li>

SRN Details

</li>



<li>

Balance Sheet

</li>



<li>

Profit & Loss Account

</li>



<li>

Board Report

</li>



<li>

Auditor Report

</li>

</ul>








<h2>

REMARKS

</h2>



<p>

This document is maintained as the permanent Financial Statements Compliance Record of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

together with all supporting financial statements, MCA filings and acknowledgements.

</p>








<br><br><br>



<div class="signature-section">



<div class="sign-box">

Maintained By



<br><br><br>



<b>

NITHIN GIDIGI

</b>

<br>

Director



</div>





<div class="sign-box">

Corporate Records



<br><br><br>



<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>



</div>



</div>






<div class="revision">

Record Category :

ROC Compliance

<br>

Sub Category :

Financial Statements

<br>

Preservation :

Permanent

</div>



</div>
