<div class="template" contenteditable="true">

<div class="doc-title">

INC-20A

DECLARATION OF COMMENCEMENT OF BUSINESS

COMPLIANCE RECORD

</div>





<div class="doc-meta">

<div>

<b>Document No :</b>

ROC-INC20A-2026-001

</div>



<div>

<b>Version :</b>

1.0

</div>



<div>

<b>Status :</b>

Pending

</div>



<div>

<b>Retention :</b>

Permanent

</div>

</div>





<h2>

COMPANY DETAILS

</h2>



<table>

<tr>

<td>

Company Name

</td>

<td>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</td>

</tr>



<tr>

<td>

CIN

</td>

<td>

U62099AP2026PTC126392

</td>

</tr>



<tr>

<td>

Date of Incorporation

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

Registered Office

</td>

<td>

House of Gidigi Ankaiah,

Utukur Gram Panchayat,

Utukur,

Sydapuram,

Nellore,

Andhra Pradesh - 524407

</td>

</tr>

</table>







<h2>

BANK DETAILS

</h2>



<table>

<tr>

<td>

Bank Name

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

Branch

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

Account Number

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

Date of Opening

</td>

<td>

________________

</td>

</tr>

</table>








<h2>

SUBSCRIPTION MONEY

</h2>



<table>

<tr>

<th>

Subscriber

</th>

<th>

Amount

</th>

<th>

Date Received

</th>

</tr>



<tr>

<td>

NITHIN GIDIGI

</td>

<td>

________________

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

GIDIGI ANKAIAH

</td>

<td>

________________

</td>

<td>

________________

</td>

</tr>

</table>








<h2>

INC-20A FILING DETAILS

</h2>



<table>

<tr>

<td>

Date of Filing

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

SRN Number

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

MCA Status

</td>

<td>

Pending / Filed / Approved

</td>

</tr>

</table>








<h2>

ATTACHMENTS

</h2>



<ul>

<li>

Certificate of Incorporation

</li>



<li>

Memorandum of Association

</li>



<li>

Articles of Association

</li>



<li>

Bank Statement

</li>



<li>

INC-20A Filed PDF

</li>



<li>

MCA Acknowledgement

</li>

</ul>








<h2>

REMARKS

</h2>



<p>

This record is maintained as an internal compliance document of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

for permanent preservation together with all supporting documents and MCA acknowledgements.

</p>







<br><br><br>



<div class="signature-section">



<div class="sign-box">

Maintained By



<br><br><br>



<b>

NITHIN GIDIGI

</b>

<br>

Director



</div>





<div class="sign-box">

Corporate Records



<br><br><br>



GIDIGI TECHNOLOGIES PRIVATE LIMITED



</div>



</div>





<div class="revision">

Record Category :

ROC Compliance



<br>



Preservation :

Permanent



</div>



</div>
