<div class="template" contenteditable="true">

<div class="doc-title">

MGT-7

ANNUAL RETURN

COMPLIANCE RECORD

</div>



<div class="doc-meta">

<div>

<b>Document No :</b>

ROC-MGT7-2026-001

</div>



<div>

<b>Version :</b>

1.0

</div>



<div>

<b>Status :</b>

Pending

</div>



<div>

<b>Retention :</b>

Permanent

</div>

</div>





<h2>

COMPANY DETAILS

</h2>



<table>

<tr>

<td>

Company Name

</td>

<td>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</td>

</tr>



<tr>

<td>

CIN

</td>

<td>

U62099AP2026PTC126392

</td>

</tr>



<tr>

<td>

Company Type

</td>

<td>

Private Limited Company

</td>

</tr>



<tr>

<td>

Registered Office

</td>

<td>

House of Gidigi Ankaiah,

Utukur Gram Panchayat,

Utukur,

Sydapuram,

Nellore,

Andhra Pradesh - 524407

</td>

</tr>

</table>







<h2>

ANNUAL RETURN DETAILS

</h2>



<table>

<tr>

<td>

Financial Year

</td>

<td>

2026-27

</td>

</tr>



<tr>

<td>

AGM Date

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

Due Date of Filing

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

Actual Filing Date

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

SRN Number

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

MCA Status

</td>

<td>

Pending / Filed / Approved

</td>

</tr>

</table>








<h2>

DIRECTORS

</h2>



<table>

<thead>

<tr>

<th>

S.No

</th>

<th>

Name

</th>

<th>

DIN

</th>

<th>

Designation

</th>

</tr>

</thead>



<tbody>

<tr>

<td>

1

</td>

<td>

NITHIN GIDIGI

</td>

<td>

____________

</td>

<td>

Director

</td>

</tr>



<tr>

<td>

2

</td>

<td>

GIDIGI ANKAIAH

</td>

<td>

____________

</td>

<td>

Director

</td>

</tr>

</tbody>

</table>








<h2>

SHARE CAPITAL

</h2>



<table>

<tr>

<td>

Authorized Capital

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

Paid-up Capital

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

Number of Members

</td>

<td>

2

</td>

</tr>

</table>








<h2>

ATTACHMENTS

</h2>



<ul>

<li>

MGT-7 Filed PDF

</li>



<li>

MCA Acknowledgement

</li>



<li>

SRN Details

</li>



<li>

Register of Members

</li>



<li>

Board Resolutions

</li>



<li>

Share Certificates

</li>

</ul>








<h2>

REMARKS

</h2>



<p>

This document is maintained as the permanent Annual Return Compliance Record of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

along with all MCA filings, acknowledgements and supporting records.

</p>








<br><br><br>



<div class="signature-section">



<div class="sign-box">

Maintained By



<br><br><br>



<b>

NITHIN GIDIGI

</b>

<br>

Director



</div>





<div class="sign-box">

Corporate Records



<br><br><br>



<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>



</div>



</div>






<div class="revision">

Record Category :

ROC Compliance

<br>

Sub Category :

Annual Return

<br>

Preservation :

Permanent

</div>



</div>
