<div class="template" contenteditable="true">

<div class="doc-title">

LETTER OF APPOINTMENT

OF

FIRST STATUTORY AUDITOR

</div>





<p>

Date :

21 June 2026

</p>





<p>

To,

</p>





<p>

<b>

M/s Uday & Kanith

</b>

<br>

Chartered Accountants

<br>

FRN :

____________

<br>

306,

3rd Floor,

RS Imperial (GL),

Opp. Giri Engineering,

Subedarpet,

Nellore,

Andhra Pradesh - 524001

</p>






<p>

Dear Sir,

</p>





<p>

We are pleased to inform you that pursuant to the provisions of Section 139 of the Companies Act, 2013 and based on your Consent Letter and Certificate under Section 141, the Board of Directors of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

at its First Board Meeting held on

<b>

21 June 2026

</b>

has appointed

<b>

M/s Uday & Kanith,

Chartered Accountants,

</b>

as the

<b>

First Statutory Auditor

</b>

of the Company.

</p>





<p>

You are requested to kindly acknowledge this appointment and undertake the audit responsibilities in accordance with the Companies Act, 2013 and Standards on Auditing issued by ICAI.

</p>






<p>

We look forward to a professional association with your Firm.

</p>






<br><br><br>





<div class="signature-section">




<div class="sign-box">

For

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

<br><br><br>

<b>

NITHIN GIDIGI

</b>

<br>

Director

<br>

DIN :

____________

<br><br>

DSC :

</div>





<div class="sign-box">

Accepted

<br><br><br>

For

<b>

M/s Uday & Kanith

</b>

<br>

Chartered Accountants

<br>

FRN :

____________

<br><br>

Authorized Signatory

</div>




</div>





<div class="revision">

Document No :

AUD-2026-003

<br>

Version :

1.0

<br>

Status :

Final

</div>



</div>
