<div class="template" contenteditable="true">

<div class="doc-title">

CONSENT TO ACT AS FIRST STATUTORY AUDITOR

</div>



<p>

Date :

_________________

</p>



<p>

To,

</p>



<p>

The Board of Directors

<br>

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

</p>





<p>

Dear Sir(s),

</p>





<p>

I/We,

<b>

M/s Uday & Kanith,

Chartered Accountants,

</b>

Firm Registration Number

<b>

_____________

</b>

through its Partner

<b>

CA Gangisetty Uday Teja,

Membership No. 267410,

</b>

hereby give our consent to act as the

<b>

First Statutory Auditor

</b>

of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

pursuant to Section 139 of the Companies Act, 2013.

</p>





<p>

We further confirm that:

</p>





<ul>

<li>

We are eligible for appointment under the Companies Act, 2013.

</li>



<li>

The appointment, if made, shall be within the limits specified under the Act.

</li>



<li>

The appointment is not contrary to any provisions of the Companies Act, 2013 or ICAI Rules.

</li>



<li>

We are in independent practice and eligible to audit the Company.

</li>

</ul>






<p>

Kindly take the above on record.

</p>





<br><br><br>





<div class="signature-section">




<div class="sign-box">

For

<b>

M/s Uday & Kanith

</b>

<br>

Chartered Accountants

<br><br>

FRN :

_____________

<br><br><br>

<b>

CA Gangisetty Uday Teja

</b>

<br>

Partner

<br>

Membership No :

267410

<br><br>

UDIN :

________________

</div>




</div>





<div class="revision">

Document Type :

Auditor Consent

<br>

Retention :

Permanent

</div>



</div>
