<div class="template" contenteditable="true">

<div class="doc-title">

CERTIFICATE UNDER SECTION 141

OF

THE COMPANIES ACT, 2013

</div>





<p>

Date :

________________

</p>





<p>

To,

</p>



<p>

The Board of Directors

<br>

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

</p>





<p>

We,

<b>

M/s Uday & Kanith,

Chartered Accountants,

</b>

FRN

<b>

____________

</b>

through its Partner

<b>

CA Gangisetty Uday Teja,

Membership No. 267410,

</b>

certify that:

</p>





<ol>

<li>

We are eligible for appointment as Statutory Auditor under Section 141 of the Companies Act, 2013.

</li>



<li>

Our appointment, if made, will be within the limits prescribed under the Companies Act, 2013.

</li>



<li>

We are not disqualified from being appointed as Auditor of the Company.

</li>



<li>

The appointment is in accordance with the applicable provisions of the Companies Act, 2013.

</li>

</ol>






<p>

This certificate is issued for submission before the Board of Directors of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED.

</b>

</p>






<br><br><br>





<div class="signature-section">




<div class="sign-box">

For

<b>

M/s Uday & Kanith

</b>

<br>

Chartered Accountants

<br><br>

FRN :

____________

<br><br><br>

<b>

CA Gangisetty Uday Teja

</b>

<br>

Partner

<br>

Membership No :

267410

<br><br>

UDIN :

________________

</div>




</div>





<div class="revision">

Document Type :

Section 141 Certificate

<br>

Retention :

Permanent

</div>



</div>
