<div class="template" contenteditable="true">

<div class="doc-title">

DIR-8

INTIMATION BY DIRECTOR

</div>

<p>

[Pursuant to Section 164(2) of the Companies Act, 2013]

</p>

<br>

<p>

To,

<br>

The Company

<br>

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

</p>

<br>

<p>

I,

<b>

NITHIN GIDIGI

</b>

Director of the Company hereby confirm that:

</p>

<ul>

<li>

I am not disqualified from being appointed or continuing as Director under Section 164 of the Companies Act, 2013.

</li>

<li>

I have not incurred any disqualification prescribed under the Act.

</li>

<li>

The above declaration is true and correct.

</li>

</ul>

<br><br>

<div class="signature-section">

<div class="sign-box">

<b>

NITHIN GIDIGI

</b>

<br>

Director

<br><br>

DIN :

____________

<br><br>

DSC :

</div>

</div>

</div>
