<div class="template" contenteditable="true">

<div class="doc-title">

MBP-1

DISCLOSURE OF INTEREST BY DIRECTOR

</div>

<p>

[Pursuant to Section 184(1) of the Companies Act, 2013 and Rule 9(1) of the Companies (Meetings of Board and its Powers) Rules, 2014]

</p>

<br>

<p>

To,

<br>

The Board of Directors

<br>

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

</p>

<br>

<p>

I,

<b>

NITHIN GIDIGI,

</b>

Director of the Company, hereby give notice of my interest or concern in other entities as on the date of this disclosure.

</p>

<br>

<table>

<tr>

<th>

Particulars

</th>

<th>

Details

</th>

</tr>

<tr>

<td>

Name of Director

</td>

<td>

NITHIN GIDIGI

</td>

</tr>

<tr>

<td>

DIN

</td>

<td>

____________

</td>

</tr>

<tr>

<td>

Other Companies / LLPs

</td>

<td>

NIL

</td>

</tr>

<tr>

<td>

Partnership Firms

</td>

<td>

NIL

</td>

</tr>

<tr>

<td>

Shareholding Interests

</td>

<td>

As recorded in Company Records

</td>

</tr>

</table>

<br><br>

<div class="signature-section">

<div class="sign-box">

<b>

NITHIN GIDIGI

</b>

<br>

Director

<br><br>

DIN :

____________

<br><br>

DSC :

</div>

</div>

</div>
