<div class="template" contenteditable="true">

<div class="doc-title">

REGISTER OF DIRECTORS

</div>

<div class="doc-meta">

<div>

<b>Document No :</b>

DIR-REG-2026-001

</div>

<div>

<b>Version :</b>

1.0

</div>

<div>

<b>Status :</b>

Active

</div>

<div>

<b>Retention :</b>

Permanent

</div>

</div>

<br>

<p>

Register of Directors maintained pursuant to the Companies Act, 2013 for

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

</p>

<br>

<table>

<thead>

<tr>

<th>

S.No

</th>

<th>

Name

</th>

<th>

DIN

</th>

<th>

Designation

</th>

<th>

Date of Appointment

</th>

<th>

Address

</th>

</tr>

</thead>

<tbody>

<tr>

<td>

1

</td>

<td>

NITHIN GIDIGI

</td>

<td>

____________

</td>

<td>

Director

</td>

<td>

____________

</td>

<td>

Utukur, Sydapuram, Nellore, Andhra Pradesh - 524407

</td>

</tr>

<tr>

<td>

2

</td>

<td>

GIDIGI ANKAIAH

</td>

<td>

____________

</td>

<td>

Director

</td>

<td>

____________

</td>

<td>

Utukur, Sydapuram, Nellore, Andhra Pradesh - 524407

</td>

</tr>

</tbody>

</table>

<br><br>

<div class="signature-section">

<div class="sign-box">

Maintained By

<br><br>

<b>

NITHIN GIDIGI

</b>

<br>

Director

</div>

<div class="sign-box">

Corporate Records

<br><br>

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

</div>

</div>

<div class="revision">

Record Category :

Directors

<br>

Preservation :

Permanent

</div>

</div>
