<div class="template" contenteditable="true">

<div class="doc-title">

PROFESSIONAL TAX

REGISTRATION & COMPLIANCE RECORD

</div>



<div class="doc-meta">

<div>

<b>Document No :</b>

PT-2026-001

</div>



<div>

<b>Version :</b>

1.0

</div>



<div>

<b>Status :</b>

Pending

</div>



<div>

<b>Retention :</b>

Permanent

</div>

</div>





<h2>

EMPLOYER DETAILS

</h2>



<table>

<tr>

<td>

Legal Name

</td>

<td>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</td>

</tr>



<tr>

<td>

Trade Name

</td>

<td>

VIDHWAAN

</td>

</tr>



<tr>

<td>

CIN

</td>

<td>

U62099AP2026PTC126392

</td>

</tr>



<tr>

<td>

PAN

</td>

<td>

AANCG1335J

</td>

</tr>



<tr>

<td>

Professional Tax Number

</td>

<td>

________________

</td>

</tr>



<tr>

<td>

Date of Registration

</td>

<td>

________________

</td>

</tr>

</table>







<h2>

REGISTERED OFFICE

</h2>



<table>

<tr>

<td>

Address

</td>

<td>

House of Gidigi Ankaiah,

Utukur Gram Panchayat,

Utukur,

Sydapuram,

Nellore,

Andhra Pradesh - 524407

</td>

</tr>



<tr>

<td>

State

</td>

<td>

Andhra Pradesh

</td>

</tr>



<tr>

<td>

PIN Code

</td>

<td>

524407

</td>

</tr>

</table>








<h2>

AUTHORIZED PERSON

</h2>



<table>

<tr>

<td>

Name

</td>

<td>

NITHIN GIDIGI

</td>

</tr>



<tr>

<td>

Designation

</td>

<td>

Director

</td>

</tr>



<tr>

<td>

Authority

</td>

<td>

Professional Tax Compliance

</td>

</tr>

</table>








<h2>

COMPLIANCE DETAILS

</h2>



<table>

<tr>

<td>

Monthly Returns

</td>

<td>

As Applicable

</td>

</tr>



<tr>

<td>

Tax Payment

</td>

<td>

As Per State Rules

</td>

</tr>



<tr>

<td>

Employee Records

</td>

<td>

Maintained Electronically

</td>

</tr>



<tr>

<td>

Status

</td>

<td>

Active

</td>

</tr>

</table>








<h2>

ATTACHMENTS

</h2>



<ul>

<li>

Professional Tax Registration Certificate

</li>



<li>

Professional Tax Number

</li>



<li>

PAN Card

</li>



<li>

Certificate of Incorporation

</li>



<li>

Address Proof

</li>



<li>

Payment Challans

</li>



<li>

Returns Filed

</li>

</ul>








<h2>

REMARKS

</h2>



<p>

This record is maintained as the permanent Professional Tax Registration and Compliance Record of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

along with all certificates, challans, returns and supporting documents.

</p>








<br><br><br>



<div class="signature-section">



<div class="sign-box">

Maintained By



<br><br><br>



<b>

NITHIN GIDIGI

</b>

<br>

Director



</div>





<div class="sign-box">

Tax Records



<br><br><br>



<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>



</div>



</div>






<div class="revision">

Record Category :

Tax

<br>

Sub Category :

Professional Tax

<br>

Preservation :

Permanent

</div>



</div>
