<div class="template" contenteditable="true">

<div class="doc-title">

REGISTER OF MEMBERS

</div>





<div class="doc-meta">

<div>

<b>Document No :</b>

ROM-2026-001

</div>



<div>

<b>Version :</b>

1.0

</div>



<div>

<b>Status :</b>

Active

</div>



<div>

<b>Retention :</b>

Permanent

</div>

</div>







<p>

Register of Members maintained pursuant to the Companies Act, 2013 for

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

</p>








<table>

<thead>

<tr>

<th>

S.No

</th>



<th>

Name of Member

</th>



<th>

Father Name

</th>



<th>

Address

</th>



<th>

No. of Shares

</th>



<th>

Folio No.

</th>



<th>

Certificate No.

</th>



<th>

Date of Entry

</th>

</tr>

</thead>






<tbody>





<tr>

<td>

1

</td>



<td>

NITHIN GIDIGI

</td>



<td>

GIDIGI ANKAIAH

</td>



<td>

Utukur,

Sydapuram,

Nellore,

Andhra Pradesh

</td>



<td>

________

</td>



<td>

001

</td>



<td>

SC-001

</td>



<td>

____________

</td>

</tr>







<tr>

<td>

2

</td>



<td>

GIDIGI ANKAIAH

</td>



<td>

____________

</td>



<td>

Utukur,

Sydapuram,

Nellore,

Andhra Pradesh

</td>



<td>

________

</td>



<td>

002

</td>



<td>

SC-002

</td>



<td>

____________

</td>

</tr>





</tbody>

</table>








<h2>

NOTES

</h2>



<ul>

<li>

This Register shall be maintained permanently.

</li>



<li>

Every transfer, transmission or allotment of shares shall be recorded immediately.

</li>



<li>

Electronic records and DSC signed copies may also be maintained.

</li>

</ul>








<br><br><br>





<div class="signature-section">



<div class="sign-box">

Maintained By



<br><br><br>



<b>

NITHIN GIDIGI

</b>

<br>

Director

</div>





<div class="sign-box">

Corporate Records



<br><br><br>



GIDIGI TECHNOLOGIES PRIVATE LIMITED

</div>



</div>







<div class="revision">

Record Category :

Share Capital

<br>

Preservation :

Permanent

</div>



</div>
