<div class="template" contenteditable="true">

<div class="doc-title">

SHARE CERTIFICATE

</div>



<p style="text-align:center;">

[ Pursuant to the Companies Act, 2013 ]

</p>





<table>

<tr>

<td>

Certificate No.

</td>

<td>

SC-001

</td>



<td>

Folio No.

</td>

<td>

001

</td>

</tr>



<tr>

<td>

No. of Shares

</td>

<td>

__________

</td>



<td>

Distinctive Nos.

</td>

<td>

__________

</td>

</tr>

</table>






<br>



<p>

This is to certify that

</p>



<h2 style="text-align:center;">

NITHIN GIDIGI

</h2>



<p style="text-align:center;">

is the registered holder of

</p>



<h2 style="text-align:center;">

__________ Equity Shares

</h2>



<p style="text-align:center;">

of Rs.

__________

each fully paid-up

</p>



<p>

in the capital of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

subject to the Memorandum and Articles of Association of the Company.

</p>







<br><br>



<p>

Given under the common authority of the Company on

<b>

________________

</b>

</p>








<br><br><br><br>





<div class="signature-section">



<div class="sign-box">

<b>

NITHIN GIDIGI

</b>

<br>

Director

<br><br>

DIN :

____________

<br><br>

DSC :

</div>





<div class="sign-box">

<b>

GIDIGI ANKAIAH

</b>

<br>

Director

<br><br>

DIN :

____________

<br><br>

DSC :

</div>



</div>






<div class="revision">

Certificate Type :

Equity Share Certificate

<br>

Retention :

Permanent

</div>



</div>
