<section class="template">

<div class="doc-title">

BOARD MEETING NOTICE

</div>



<div class="doc-meta">

<div>

<b>Document No :</b>

BMN-2026-001

</div>



<div>

<b>Version :</b>

1.0

</div>



<div>

<b>Status :</b>

APPROVED

</div>



<div>

<b>Date :</b>

17 June 2026

</div>

</div>





<p>

Notice is hereby given that the

<span contenteditable="true">

First Meeting

</span>

of the Board of Directors of the Company will be held as per the details below:

</p>





<table>

<tr>

<th width="35%">

Particulars

</th>

<th>

Details

</th>

</tr>



<tr>

<td>

Date

</td>

<td contenteditable="true">

17 June 2026

</td>

</tr>





<tr>

<td>

Day

</td>

<td contenteditable="true">

Wednesday

</td>

</tr>





<tr>

<td>

Time

</td>

<td contenteditable="true">

11:00 AM

</td>

</tr>





<tr>

<td>

Venue

</td>

<td contenteditable="true">

Registered Office of the Company

</td>

</tr>





<tr>

<td>

Mode

</td>

<td contenteditable="true">

Physical

</td>

</tr>

</table>






<h2>

Agenda

</h2>





<ol contenteditable="true">

<li>

To take note of the Certificate of Incorporation.

</li>



<li>

To take note of Memorandum of Association and Articles of Association.

</li>



<li>

To take note of PAN and TAN allotted to the Company.

</li>



<li>

To appoint First Auditor of the Company.

</li>



<li>

To authorize opening of Bank Account.

</li>



<li>

To authorize printing and issuance of Share Certificates.

</li>



<li>

To approve preliminary expenses.

</li>



<li>

Any other business with the permission of the Chair.

</li>

</ol>







<p>

You are requested to make it convenient to attend the meeting.

</p>







<div class="signature-section">



<div class="sign-box">

<b>

By Order of the Board

</b>

<br><br><br>

__________________

<br>

NITHIN GIDIGI

<br>

Director

</div>





<div class="sign-box">

<b>

Place

</b>

<br>

Utukur

<br><br>

<b>

Date

</b>

<br>

17 June 2026

</div>





</div>







<div class="revision">

<h3>

Revision History

</h3>



<table>

<tr>

<th>

Version

</th>

<th>

Date

</th>

<th>

Changes

</th>

</tr>



<tr>

<td>

1.0

</td>

<td>

17 June 2026

</td>

<td>

Initial Release

</td>

</tr>

</table>

</div>





<div class="approval-page">



<h3>

Approval

</h3>



<div class="approval-grid">



<div>

<b>

Prepared By

</b>

<br><br>

NITHIN GIDIGI

<br>

Director

</div>





<div>

<b>

Reviewed By

</b>

<br><br>

GANGISETTY UDAY TEJA

<br>

Chartered Accountant

<br>

M.No. 267410

</div>






<div>

<b>

Approved By

</b>

<br><br>

BOARD OF DIRECTORS

</div>



</div>



</div>

</section>
