<section class="template">

<div class="doc-title">

BOARD MEETING NOTICE

</div>



<div class="doc-meta">

<div>

<b>Document No :</b>

BMN-2026-001

</div>



<div>

<b>Version :</b>

1.0

</div>



<div>

<b>Status :</b>

FINAL

</div>



<div>

<b>Date :</b>

17 June 2026

</div>

</div>






<p>

To,

</p>



<p>

Mr. NITHIN GIDIGI

<br>

Director

<br>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</p>






<p>

Dear Sir,

</p>






<p style="text-align:justify;">

Notice is hereby given that the

<b>

First Meeting of the Board of Directors

</b>

of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

will be held as per the details given below.

</p>







<table>

<tr>

<th width="35%">

Particulars

</th>

<th>

Details

</th>

</tr>



<tr>

<td>

Meeting Number

</td>

<td contenteditable="true">

01/2026-27

</td>

</tr>





<tr>

<td>

Date

</td>

<td contenteditable="true">

17 June 2026

</td>

</tr>





<tr>

<td>

Day

</td>

<td contenteditable="true">

Wednesday

</td>

</tr>





<tr>

<td>

Time

</td>

<td contenteditable="true">

11:00 AM

</td>

</tr>






<tr>

<td>

Venue

</td>

<td contenteditable="true">

Registered Office of the Company

</td>

</tr>






<tr>

<td>

Mode

</td>

<td contenteditable="true">

Physical Meeting

</td>

</tr>



</table>







<h2>

AGENDA

</h2>






<ol contenteditable="true">

<li>

To elect Chairman of the Meeting.

</li>



<li>

To take note of the Certificate of Incorporation.

</li>





<li>

To take note of Memorandum of Association and Articles of Association.

</li>





<li>

To take note of PAN and TAN allotted to the Company.

</li>





<li>

To appoint the First Auditor of the Company.

</li>





<li>

To authorize opening of Bank Account.

</li>





<li>

To approve issue of Share Certificates.

</li>





<li>

To authorize maintenance of statutory registers and records.

</li>





<li>

To authorize use of common seal, if any.

</li>





<li>

Any other matter with permission of Chair.

</li>



</ol>








<p>

You are requested to make it convenient to attend the meeting.

</p>







<div class="signature-section">




<div class="sign-box">




<b>

By Order of the Board

</b>





<br><br><br><br>

________________________




<br>

NITHIN GIDIGI




<br>

Director




</div>








<div class="sign-box">



<b>

Place

</b>

<br>

Utukur




<br><br>

<b>

Date

</b>

<br>

17 June 2026



</div>





</div>








<div class="note-box">



<b>

Note:</b>



Please bring all relevant papers and documents pertaining to the agenda items for discussion and approval.





</div>





</section>
