<section class="template">

<div class="doc-title">

CONSENT FOR SHORTER NOTICE

</div>



<div class="doc-meta">

<div>

<b>Document No :</b>

CSN-2026-001

</div>



<div>

<b>Version :</b>

1.0

</div>



<div>

<b>Status :</b>

FINAL

</div>



<div>

<b>Date :</b>

17 June 2026

</div>

</div>





<p>

To,

<br>

The Board of Directors

<br>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</p>





<p>

Dear Sir/Madam,

</p>





<p style="text-align:justify;">

I, the undersigned Director of

<b>GIDIGI TECHNOLOGIES PRIVATE LIMITED</b>,

hereby give my consent to hold the Board Meeting on

shorter notice as permitted under the provisions of the Companies Act, 2013 and Articles of Association of the Company.

</p>





<h2>

DETAILS OF MEETING

</h2>





<table>

<tr>

<th width="35%">

Particulars

</th>

<th>

Details

</th>

</tr>





<tr>

<td>

Meeting Number

</td>

<td contenteditable="true">

01/2026-27

</td>

</tr>





<tr>

<td>

Date

</td>

<td contenteditable="true">

17 June 2026

</td>

</tr>





<tr>

<td>

Time

</td>

<td contenteditable="true">

11:00 AM

</td>

</tr>





<tr>

<td>

Venue

</td>

<td contenteditable="true">

Registered Office of the Company

</td>

</tr>





<tr>

<td>

Mode

</td>

<td contenteditable="true">

Physical / Virtual

</td>

</tr>

</table>





<h2>

DIRECTOR CONSENT

</h2>





<p>

I confirm that I have no objection in convening the Board Meeting on shorter notice and agree to discuss all agenda items circulated.

</p>





<br><br>

<div class="signature-section">



<div class="sign-box">

<b>

Director Name

</b>

<br><br><br>

________________________

<br>

NITHIN GIDIGI

<br>

Director

<br>

DIN: ________

</div>





<div class="sign-box">

<b>

Date & Place

</b>

<br><br>

Date: 17 June 2026

<br>

Place: Utukur

</div>



</div>





<br><br>

<div class="note-box">

<b>Note:</b>

This consent is required only when Board Meeting is called at shorter notice as per applicable provisions.

</div>





</section>
