<div class="template" contenteditable="true">

<div class="doc-title">

ATTENDANCE SHEET

</div>



<div class="doc-meta">

<div>

<b>Meeting :</b>

First Meeting of Board of Directors

</div>



<div>

<b>Document No :</b>

BM-2026-003

</div>



<div>

<b>Date :</b>

21 June 2026

</div>



<div>

<b>Time :</b>

11:00 AM

</div>



<div>

<b>Venue :</b>

Registered Office

</div>



<div>

<b>Version :</b>

1.0

</div>

</div>





<p>

Attendance of Directors present at the Meeting of the Board of Directors of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

held at the Registered Office situated at

House of Gidigi Ankaiah,

Utukur Gram Panchayat,

Utukur,

Sydapuram,

Nellore - 524407,

Andhra Pradesh.

</p>





<table>

<thead>

<tr>

<th>

S.No.

</th>



<th>

Name of Director

</th>



<th>

Designation

</th>



<th>

DIN

</th>



<th>

Mode of Attendance

</th>



<th>

Signature / DSC

</th>

</tr>

</thead>





<tbody>



<tr>

<td>

1

</td>



<td>

NITHIN GIDIGI

</td>



<td>

Director

</td>



<td>

____________

</td>



<td>

Physical

</td>



<td>

</td>

</tr>





<tr>

<td>

2

</td>



<td>

GIDIGI ANKAIAH

</td>



<td>

Director

</td>



<td>

____________

</td>



<td>

Physical

</td>



<td>

</td>

</tr>



</tbody>

</table>





<br><br><br>



<p>

The above attendance has been recorded and maintained electronically as well as in printable format as part of the Corporate Records of the Company.

</p>





<br><br>



<div class="signature-section">



<div class="sign-box">

Maintained By



<br><br><br>



<b>

NITHIN GIDIGI

</b>

<br>

Director

</div>





<div class="sign-box">

Corporate Records



<br><br><br>



GIDIGI TECHNOLOGIES PRIVATE LIMITED

</div>



</div>





<div class="revision">

<b>

Status :</b>

Final

<br>

<b>

Record Type :</b>

Board Records

</div>



</div>
