<div class="template" contenteditable="true">

<div class="doc-title">

CERTIFIED TRUE COPY OF THE RESOLUTIONS PASSED AT THE FIRST MEETING OF THE BOARD OF DIRECTORS OF

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</div>




<div class="doc-meta">

<div>

<b>Document No :</b>

BM-2026-005

</div>



<div>

<b>Version :</b>

1.0

</div>



<div>

<b>Date :</b>

21 June 2026

</div>



<div>

<b>Status :</b>

Final

</div>

</div>





<p>

Certified true copy of the resolutions passed at the First Meeting of the Board of Directors of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

held on

<b>

21 June 2026

</b>

at the Registered Office of the Company situated at

House of Gidigi Ankaiah,

Utukur Gram Panchayat,

Utukur,

Sydapuram,

Nellore - 524407,

Andhra Pradesh.

</p>





<h2>

1. CORPORATE ADMINISTRATION AUTHORIZATION

</h2>



<p>

"RESOLVED THAT

Mr.

<b>

NITHIN GIDIGI,

Director,

</b>

be and is hereby authorized on behalf of the Company to undertake and manage:

</p>



<ul>

<li>

Corporate Administration

</li>



<li>

Government and Regulatory Filings

</li>



<li>

Preparation and Maintenance of Corporate Records

</li>



<li>

Maintenance of Books and Statutory Registers

</li>



<li>

Banking Operations

</li>



<li>

Routine Business Operations

</li>



<li>

Execution of routine business documents as permitted by law

</li>

</ul>



<p>

RESOLVED FURTHER THAT all acts done by him within the above authority shall be deemed to be acts done on behalf of the Company."

</p>








<h2>

2. OPENING OF BANK ACCOUNT

</h2>



<p>

"RESOLVED THAT a Bank Account or Bank Accounts be opened in the name of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

with any Scheduled Bank in India.

</p>



<p>

RESOLVED FURTHER THAT

Mr.

<b>

NITHIN GIDIGI,

Director,

</b>

be and is hereby authorized to:

</p>



<ul>

<li>

Select the Bank and Branch

</li>



<li>

Submit KYC documents

</li>



<li>

Sign and submit applications

</li>



<li>

Obtain Internet Banking facilities

</li>



<li>

Operate the account as authorized by the Board

</li>

</ul>



<p>

RESOLVED FURTHER THAT the Bank is hereby authorized to act upon the instructions given by the above Director."

</p>








<h2>

3. APPOINTMENT OF FIRST STATUTORY AUDITOR

</h2>



<p>

"RESOLVED THAT pursuant to the provisions of Section 139 and other applicable provisions of the Companies Act, 2013,

</p>



<p>

<b>

M/s Uday & Kanith,

Chartered Accountants,

</b>

</p>



<p>

FRN :

_________________

</p>



<p>

Partner :

<b>

Gangisetty Uday Teja

</b>

</p>



<p>

Membership Number :

<b>

267410

</b>

</p>



<p>

be and are hereby appointed as the First Statutory Auditor of the Company to hold office in accordance with the Companies Act, 2013."

</p>








<h2>

4. MAINTENANCE OF ELECTRONIC RECORDS

</h2>



<p>

"RESOLVED THAT the Company shall maintain its notices, minutes, resolutions, statutory registers, corporate records and supporting documents electronically through its Corporate Operating System together with PDF archives and Digital Signature records."

</p>








<h2>

CERTIFICATION

</h2>



<p>

Certified to be a true copy of the resolutions passed by the Board of Directors of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED.

</b>

</p>





<br><br><br>



<div class="signature-section">



<div class="sign-box">

For

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>



<br><br><br>



<b>

NITHIN GIDIGI

</b>

<br>

Director

<br><br>

DIN :

____________

<br><br>

DSC :

</div>





<div class="sign-box">

Date :

21 June 2026

<br><br>

Place :

Nellore

<br><br>

Document Type :

Board Resolution

<br><br>

Preservation :

Permanent

</div>



</div>





<div class="revision">

<b>

Record Category :</b>

Board Records

<br>

<b>

Retention :</b>

Permanent

</div>



</div>
