<div class="template" contenteditable="true">

<div class="doc-title">

NOTICE OF THE FIRST MEETING OF THE BOARD OF DIRECTORS

</div>



<p>

Date :

<b>

21 June 2026

</b>

</p>



<p>

To,

</p>



<p>

<b>

Mr. Gidigi Ankaiah

</b>

<br>

Director

<br>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</p>



<p>

Dear Sir,

</p>



<p>

Notice is hereby given that the First Meeting of the Board of Directors of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

will be held at the Registered Office of the Company situated at

House of Gidigi Ankaiah,

Utukur Gram Panchayat,

Utukur,

Sydapuram,

Nellore – 524407,

Andhra Pradesh

on

<b>

21 June 2026

</b>

at

<b>

11:00 AM

</b>

to transact the following business.

</p>





<h2>

AGENDA

</h2>





<ol>

<li>

To take note of the Certificate of Incorporation issued by the Registrar of Companies.

</li>



<li>

To take note of the Memorandum of Association and Articles of Association of the Company.

</li>



<li>

To take note of the appointment of the First Directors of the Company.

</li>



<li>

To appoint

<b>

Mr. Nithin Gidigi

</b>

as the person responsible for Corporate Administration, Government Filings, Banking Operations, Maintenance of Records and Day-to-Day Business Operations of the Company.

</li>



<li>

To approve opening of Bank Account(s) in the name of the Company and authorize Mr. Nithin Gidigi to complete all formalities.

</li>



<li>

To appoint the First Statutory Auditor of the Company.

</li>



<li>

To authorize maintenance of books of accounts and statutory registers in electronic form.

</li>



<li>

To discuss any other matter with permission of the Chair.

</li>

</ol>





<p>

You are requested to make it convenient to attend the meeting.

</p>





<br><br>



<div class="signature-section">



<div class="sign-box">

For

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>



<br><br><br>



<b>

NITHIN GIDIGI

</b>

<br>

Director

</div>



</div>





<div class="revision">

<b>

Document No :</b>

BM-2026-001

<br>

<b>

Version :</b>

1.0

<br>

<b>

Status :</b>

Final

</div>



</div>
