<div class="template" contenteditable="true">

<div class="doc-title">

CONSENT TO HOLD THE FIRST BOARD MEETING AT SHORTER NOTICE

</div>



<p>

Date :

<b>

21 June 2026

</b>

</p>



<p>

We, the undersigned Directors of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

having our Registered Office at

House of Gidigi Ankaiah,

Utukur Gram Panchayat,

Utukur,

Sydapuram,

Nellore – 524407,

Andhra Pradesh – 524407,

hereby give our consent pursuant to the applicable provisions of the Companies Act, 2013, to hold the First Meeting of the Board of Directors of the Company at shorter notice.

</p>



<p>

We confirm that:

</p>



<ul>

<li>

We have received the agenda and relevant papers for the meeting.

</li>



<li>

We have no objection to convening the meeting at shorter notice.

</li>



<li>

We agree to transact all business items specified in the Notice of the First Board Meeting.

</li>



<li>

We agree that resolutions passed at the said meeting shall have full force and effect as if the meeting had been convened with regular notice.

</li>

</ul>





<br><br><br>



<div class="signature-section">



<div class="sign-box">

<b>

NITHIN GIDIGI

</b>

<br>

Director

<br><br>

DIN :

_________________

<br><br>

Date :

21 June 2026

<br><br>

Place :

Nellore

</div>





<div class="sign-box">

<b>

GIDIGI ANKAIAH

</b>

<br>

Director

<br><br>

DIN :

_________________

<br><br>

Date :

21 June 2026

<br><br>

Place :

Nellore

</div>



</div>





<div class="revision">

<b>

Document No :</b>

BM-2026-002

<br>

<b>

Version :</b>

1.0

<br>

<b>

Status :</b>

Final

</div>



</div>
