<div class="template" contenteditable="true">

<div class="doc-title">

MINUTES OF THE FIRST MEETING OF THE BOARD OF DIRECTORS

</div>




<div class="doc-meta">

<div>

<b>Document No :</b>

BM-2026-004

</div>



<div>

<b>Version :</b>

1.0

</div>



<div>

<b>Date :</b>

21 June 2026

</div>



<div>

<b>Time :</b>

11:00 AM

</div>



<div>

<b>Venue :</b>

Registered Office

</div>



<div>

<b>Status :</b>

Final

</div>

</div>





<p>

The First Meeting of the Board of Directors of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

was held on

<b>

21 June 2026

</b>

at

<b>

11:00 AM

</b>

at the Registered Office of the Company situated at

House of Gidigi Ankaiah,

Utukur Gram Panchayat,

Utukur,

Sydapuram,

Nellore - 524407,

Andhra Pradesh.

</p>





<h2>

DIRECTORS PRESENT

</h2>



<ul>

<li>

NITHIN GIDIGI

-

Director

</li>



<li>

GIDIGI ANKAIAH

-

Director

</li>

</ul>






<h2>

ITEM NO. 1

</h2>

<h3>

TAKING NOTE OF CERTIFICATE OF INCORPORATION

</h3>



<p>

The Board took note of the Certificate of Incorporation issued by the Registrar of Companies and recorded that the Company has been incorporated as

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED.

</b>

</p>







<h2>

ITEM NO. 2

</h2>

<h3>

TAKING NOTE OF MEMORANDUM AND ARTICLES OF ASSOCIATION

</h3>



<p>

The Board took note of the Memorandum of Association and Articles of Association of the Company and resolved to preserve the same electronically and physically as part of permanent corporate records.

</p>








<h2>

ITEM NO. 3

</h2>

<h3>

AUTHORIZATION OF CORPORATE ADMINISTRATION

</h3>



<p>

The Board discussed the requirement of effective management and administration of the affairs of the Company.

</p>



<p>

After discussion, the Board unanimously resolved that

<b>

Mr. NITHIN GIDIGI,

Director,

</b>

be and is hereby authorized to manage and undertake the following on behalf of the Company:

</p>



<ul>

<li>

Corporate Administration

</li>



<li>

Government Filings

</li>



<li>

Banking Operations

</li>



<li>

Preparation and Maintenance of Corporate Documents

</li>



<li>

Maintenance of Books and Statutory Registers

</li>



<li>

Representing the Company before Government Authorities

</li>



<li>

Execution of Agreements and Routine Business Documents as authorized by the Board

</li>



</ul>





<p>

The Board further resolved that all acts done by him within the scope of the above authority shall be treated as acts done on behalf of the Company.

</p>








<h2>

ITEM NO. 4

</h2>

<h3>

OPENING OF BANK ACCOUNT

</h3>



<p>

The Board discussed opening of Bank Account(s) in the name of the Company.

</p>



<p>

After discussion,

<b>

Mr. NITHIN GIDIGI

</b>

is hereby authorized to:

</p>



<ul>

<li>

Select Bank and Branch

</li>



<li>

Complete KYC

</li>



<li>

Submit Company Documents

</li>



<li>

Sign Applications

</li>



<li>

Obtain Internet Banking

</li>



<li>

Operate the Account as per Board authorization

</li>



</ul>








<h2>

ITEM NO. 5

</h2>

<h3>

APPOINTMENT OF FIRST STATUTORY AUDITOR

</h3>



<p>

The Board discussed appointment of the First Statutory Auditor of the Company.

</p>



<p>

The Board noted receipt of:

</p>



<ul>

<li>

Consent to act as Auditor

</li>



<li>

Certificate under Section 141 of the Companies Act, 2013

</li>



<li>

Firm Registration Number (FRN)

</li>



<li>

Membership Number

</li>

</ul>



<p>

After consideration, the Board resolved to appoint:

</p>



<p>

<b>

M/s Uday & Kanith,

Chartered Accountants

</b>

</p>



<p>

FRN :

_____________

</p>



<p>

Partner:

<b>

Gangisetty Uday Teja

</b>

</p>



<p>

Membership No :

<b>

267410

</b>

</p>





<p>

as the First Statutory Auditor of the Company to hold office in accordance with the provisions of the Companies Act, 2013.

</p>








<h2>

ITEM NO. 6

</h2>

<h3>

MAINTENANCE OF ELECTRONIC RECORDS

</h3>



<p>

The Board resolved to maintain corporate records, statutory registers, notices, minutes, resolutions and other business records electronically through the Company's Corporate Operating System together with PDF archives and Digital Signature records.

</p>








<h2>

CONCLUSION

</h2>



<p>

There being no other business to transact, the Meeting concluded with mutual consent.

</p>





<br><br><br>



<div class="signature-section">



<div class="sign-box">

<b>

NITHIN GIDIGI

</b>

<br>

Director

<br><br>

DIN :

____________

<br><br>

DSC :

</div>





<div class="sign-box">

<b>

GIDIGI ANKAIAH

</b>

<br>

Director

<br><br>

DIN :

____________

<br><br>

DSC :

</div>



</div>





<div class="revision">

<b>

Record Type :</b>

Board Minutes

<br>

<b>

Preservation :</b>

Permanent

</div>



</div>
