<div class="template" contenteditable="true">

<div class="doc-title">

NOTICE OF FIRST BOARD MEETING

</div>



<p>

Date :

<b>

22 June 2026

</b>

</p>



<p>

To,

</p>



<p>

<b>

Mr. NITHIN GIDIGI

</b>

<br>

Director

<br>

DIN : 11770557

</p>



<p>

<b>

Mr. GIDIGI ANKAIAH

</b>

<br>

Director

<br>

DIN : __________________

</p>



<p>

NOTICE is hereby given that the

<b>

First Meeting of the Board of Directors

</b>

of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

will be held as per the following schedule:

</p>



<br>



<table>

<tr>

<td width="35%">

<b>

Date

</b>

</td>

<td>

23 June 2026

</td>

</tr>



<tr>

<td>

<b>

Day

</b>

</td>

<td>

Tuesday

</td>

</tr>



<tr>

<td>

<b>

Time

</b>

</td>

<td>

11:00 AM

</td>

</tr>



<tr>

<td>

<b>

Mode

</b>

</td>

<td>

Physical Meeting

</td>

</tr>



<tr>

<td>

<b>

Venue

</b>

</td>

<td>

Registered Office of the Company

<br><br>

House of Gidigi Ankaiah

<br>

Utukur Gram Panchayat

<br>

Utukur

<br>

Sydapuram

<br>

Nellore

<br>

Andhra Pradesh - 524407

</td>

</tr>

</table>



<br>



<p>

The agenda items proposed to be discussed at the Meeting are:

</p>



<ol>

<li>

To elect Chairman of the Meeting.

</li>



<li>

To take note of the Certificate of Incorporation of the Company.

</li>



<li>

To take note of PAN and TAN of the Company.

</li>



<li>

To take note of the Registered Office of the Company.

</li>



<li>

To consider non-adoption of Common Seal.

</li>



<li>

To appoint the First Statutory Auditor of the Company.

</li>



<li>

To approve opening of Current Account with State Bank of India.

</li>



<li>

To authorize Mr. NITHIN GIDIGI for banking operations.

</li>



<li>

To authorize Mr. NITHIN GIDIGI for MCA, GST, PAN, TAN and Income Tax matters.

</li>



<li>

To approve maintenance of Corporate Records in electronic form.

</li>



<li>

To approve issue of Share Certificates.

</li>



<li>

To approve Register of Members and Register of Directors.

</li>



<li>

Any other matter with the permission of the Chair.

</li>

</ol>



<br><br><br>



<p>

By Order of the Board

</p>



<br><br>



<div class="signature-section">



<div class="sign-box">

<b>

NITHIN GIDIGI

</b>

<br>

Director

<br><br>

DIN :

11770557

<br><br>

Date :

22 June 2026

<br><br>

Place :

Nellore

</div>



<div class="sign-box">

<b>

GIDIGI ANKAIAH

</b>

<br>

Director

<br><br>

DIN :

__________________

<br><br>

Date :

22 June 2026

<br><br>

Place :

Nellore

</div>



</div>



<div class="revision">

<b>

Document No :

</b>

BM-2026-001

<br>

<b>

Version :

</b>

1.0

<br>

<b>

Status :

</b>

Final

</div>



</div>
