<div class="template" contenteditable="true">

<div class="doc-title">

CERTIFIED TRUE COPY OF THE RESOLUTION PASSED AT THE FIRST MEETING OF THE BOARD OF DIRECTORS OF

GIDIGI TECHNOLOGIES PRIVATE LIMITED

FOR OPENING OF BANK ACCOUNT

</div>




<div class="doc-meta">

<div>

<b>Document No :</b>

BNK-2026-001

</div>



<div>

<b>Version :</b>

1.0

</div>



<div>

<b>Date :</b>

21 June 2026

</div>



<div>

<b>Status :</b>

Final

</div>

</div>





<p>

Certified true copy of the Resolution passed at the First Meeting of the Board of Directors of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

held on

<b>

21 June 2026

</b>

at the Registered Office of the Company situated at

House of Gidigi Ankaiah,

Utukur Gram Panchayat,

Utukur,

Sydapuram,

Nellore - 524407,

Andhra Pradesh.

</p>






<h2>

OPENING OF BANK ACCOUNT

</h2>





<p>

"RESOLVED THAT a Current Account and such other accounts as may be required from time to time be opened in the name of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

with any Scheduled Commercial Bank in India upon such terms and conditions as may be agreed with the Bank."

</p>





<p>

"RESOLVED FURTHER THAT

Mr.

<b>

NITHIN GIDIGI,

Director,

</b>

be and is hereby authorized on behalf of the Company to:

</p>





<ul>

<li>

Select the Bank and Branch.

</li>



<li>

Submit KYC and incorporation documents.

</li>



<li>

Sign account opening forms and declarations.

</li>



<li>

Submit specimen signatures and photographs.

</li>



<li>

Apply for Internet Banking.

</li>



<li>

Apply for Corporate Banking facilities.

</li>



<li>

Receive cheque books, debit cards and banking credentials.

</li>



<li>

Submit any additional information or documents required by the Bank.

</li>



<li>

Complete all acts, deeds and things necessary for opening and operating the Bank Account."

</li>

</ul>






<p>

"RESOLVED FURTHER THAT the Bank is hereby authorized to honour all instructions, applications and requests signed or submitted by the above authorized Director on behalf of the Company."

</p>








<h2>

CERTIFICATION

</h2>





<p>

Certified to be a true copy of the Resolution passed by the Board of Directors of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED.

</b>

</p>







<br><br><br>





<div class="signature-section">



<div class="sign-box">

For

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>



<br><br><br>



<b>

NITHIN GIDIGI

</b>

<br>

Director

<br><br>

DIN :

____________

<br><br>

DSC :

</div>





<div class="sign-box">

Date :

21 June 2026

<br><br>

Place :

Nellore

<br><br>

Document Type :

Bank Resolution

<br><br>

Preservation :

Permanent

</div>



</div>





<div class="revision">

Record Category :

Banking

<br>

Retention :

Permanent

</div>



</div>
