<div class="template" contenteditable="true">

<div class="doc-title">

AUTHORIZATION FOR INTERNET BANKING

AND

DIGITAL BANKING FACILITIES

</div>





<div class="doc-meta">

<div>

<b>Document No :</b>

BNK-2026-003

</div>



<div>

<b>Version :</b>

1.0

</div>



<div>

<b>Date :</b>

21 June 2026

</div>



<div>

<b>Status :</b>

Final

</div>

</div>






<p>

This document records the authorization granted by the Board of Directors of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>

for availing Internet Banking and Digital Banking facilities for the Company's Bank Account(s).

</p>








<h2>

AUTHORIZED PERSON

</h2>





<table>

<tr>

<td>

Name

</td>

<td>

NITHIN GIDIGI

</td>

</tr>



<tr>

<td>

Designation

</td>

<td>

Director

</td>

</tr>



<tr>

<td>

Authority

</td>

<td>

Authorized Signatory

</td>

</tr>



<tr>

<td>

Mode

</td>

<td>

Single Authorization

</td>

</tr>

</table>








<h2>

DIGITAL BANKING FACILITIES

</h2>





<p>

The Board authorizes the above Director to apply for and operate the following facilities on behalf of the Company:

</p>





<ul>

<li>

Internet Banking

</li>



<li>

Corporate Net Banking

</li>



<li>

Mobile Banking

</li>



<li>

View Account Statements

</li>



<li>

Download Statements and Certificates

</li>



<li>

Create Beneficiaries

</li>



<li>

Transfer Funds within limits prescribed by the Bank

</li>



<li>

Request Cheque Books

</li>



<li>

Download TDS Certificates

</li>



<li>

Access Trade and Service Requests

</li>



<li>

Receive Alerts and Notifications

</li>



<li>

Update Communication Details

</li>

</ul>








<h2>

SECURITY

</h2>





<p>

The Authorized Director shall maintain confidentiality of passwords, security devices, OTPs, digital certificates and access credentials issued by the Bank.

</p>



<p>

The Company shall not hold the Bank responsible for unauthorized disclosure of credentials by the Authorized User.

</p>








<h2>

VALIDITY

</h2>





<p>

This authorization shall remain valid until modified or revoked by the Board of Directors of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED.

</b>

</p>








<h2>

CERTIFICATION

</h2>





<p>

Certified to be a true and correct authorization maintained as part of the permanent banking records of

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED.

</b>

</p>








<br><br><br>





<div class="signature-section">



<div class="sign-box">

For

<b>

GIDIGI TECHNOLOGIES PRIVATE LIMITED

</b>



<br><br><br>



<b>

NITHIN GIDIGI

</b>

<br>

Director

<br><br>

DIN :

____________

<br><br>

DSC :

</div>





<div class="sign-box">

Acknowledged



<br><br><br>



<b>

GIDIGI ANKAIAH

</b>

<br>

Director

<br><br>

DIN :

____________

<br><br>

DSC :

</div>



</div>






<div class="revision">

Record Category :

Banking

<br>

Sub Category :

Digital Banking

<br>

Retention :

Permanent

</div>



</div>
